@use '@personio-web/design-system-tokens' as tokens;

.label {
  margin-bottom: tokens.$spacing-2;
  font-size: tokens.$font-sizes-3;
  color: tokens.$color-gray-12;
  font-weight: tokens.$font-weights-medium;
}

.select {
  width: 100%;
}

.surface {
  background-color: tokens.$color-surface;
  padding: tokens.$spacing-gap-small;
  border-radius: tokens.$radii-3;
  /* follow-up report with DS */
  [tabindex] {
    background-color: white;
    margin-bottom: tokens.$spacing-gap-small;
  }
}

.tip {
  padding: tokens.$spacing-gap-xlarge;
}
.tipDescription {
  @include tokens.typography-meta;
}

.payGroupLabel {
  @include tokens.typography-large;
  font-weight: tokens.$font-weights-medium;
}
