[user]
	name = Amadeo Manouchehri
	email = amadeo.manouchehri@gmail.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIGTy7CohcdeLDzAS7KsdeYMuUlFrmIs64y4bkTz4ma5B
[gpg]
	format = ssh
[gpg "ssh"]
	program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
[commit]
	gpgsign = true

# shows lists in columns (e.g. branches)
[column]
	ui = auto

# sorts branches by commit desc
[branch]
	sort = -committerdate

# cleaner diff with i-w-c prefixes
[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
[core]
  pager = diffnav
  fsmonitor = true
  untrackedcache = true
[delta]
  line-numbers = true
[url "git@github.com:"]
  insteadOf = https://github.com/
