@use '@personio-web/design-system-tokens' as tokens;

.leadsListContainer {
  display: flex;
  align-items: center;
}

.leadsList {
  width: 100%;
  border-radius: tokens.$radius-large;
  background-color: tokens.$colors-static-bg-accent;
  margin: tokens.$spacing-gap-large tokens.$primitive-spacing-3pt5 0;
}

.leadItem {
  padding: tokens.$spacing-gap-small tokens.$spacing-gap-medium;
  margin: 0 !important;
  &::before {
    background-color: inherit !important;
  }
  &:first-of-type {
    padding-top: tokens.$spacing-gap-medium;
  }
  &:last-of-type {
    padding-bottom: tokens.$spacing-gap-medium;
  }
}

.labels {
  // name
  & > span:nth-child(1) {
    @include tokens.typography-meta;
    font-weight: tokens.$font-weights-medium;
  }

  // position
  & > span:nth-child(2) {
    @include tokens.typography-meta;
  }
}
