@use '@personio-web/design-system-tokens' as tokens;

.members {
  display: flex;
  align-items: center;
  @include tokens.typography-meta;
  gap: tokens.$primitive-spacing-1pt5;
  margin: tokens.$primitive-spacing-4 tokens.$primitive-spacing-3pt5 0;
  color: tokens.$colors-solid-fg-neutral-strong-primary;
}
