@use '@personio-web/design-system-tokens' as tokens;

$viewActionBarHeight: 46px;

:export {
  viewActionBarHeight: $viewActionBarHeight;
}

.viewActionsBarWrapper {
  position: absolute;
  right: tokens.$spacing-gap-large;
  bottom: tokens.$spacing-gap-extra-large;
  display: flex;
  gap: tokens.$spacing-gap-medium;
}

.viewActionsBar {
  display: inline-flex;
  align-items: center;
  gap: tokens.$spacing-gap-small;
  padding: tokens.$spacing-gap-small tokens.$spacing-gap-medium
    tokens.$spacing-gap-small tokens.$spacing-gap-small;
  border-radius: tokens.$primitive-radius-4pt5;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 0 1px rgba(0, 0, 0, 0.01),
    0 8px 32px 0 rgba(0, 0, 0, 0.2);
  background: tokens.$color-base;
  overflow: hidden;
}

.redesignedActionsBarWrapper {
  gap: 0;
  right: 0;
  bottom: 0;
  background: tokens.$color-base;
  height: $viewActionBarHeight;
  border-radius: 20px 0 0 0;
  align-items: center;

  .viewActionsBar {
    box-shadow: unset;
    border-radius: unset;
    background: unset;
  }

  .rightCurve {
    fill: tokens.$color-base;
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .leftCurve {
    fill: tokens.$color-base;
    position: absolute;
    left: -35px;
    bottom: 0;
  }
}

.separator {
  background: tokens.$color-divider-alpha;
  height: tokens.$spacing-section-small;
  width: 0.5px;
  margin: tokens.$spacing-gap-extra-small;
}
